/* scroll menu */
.scrollMenu{
	width: 100%;
}
.tip>p{
	font-size: 8px;
}
#toTop{
	right: .25rem;
}
#toTop span{
	font-size: 30px;
	color: #666666;
}

.headCont{
	width: 90%;
}
.headCont>header>h1{
	font-size: 30px;
}
.headCont>header>h1>span{
	font-size: 16px;
}
.headCont>header>ul{
	display: none;
}
.headCont .menu{
	display: flex;
}
.headCont .menu span{
	font-size: 22px;
	padding-top: 0.2rem;
}
#introSelf{
	padding: .5rem;
}
#introSelf p{
    font-size: 14px;
    text-indent: .2rem;
    margin-bottom: 0.15rem;
    color: #333333;
}
#introSelf p span{
	margin-right: 0.1rem;
	font-size: 16px;
}
#introSelf h2{
	font-size: 18px;    
    text-indent: 0;
	margin-bottom: 0.3rem;
    color: #333333;
}
.contTitle{
	font-size: 16px;
	padding: .6rem 0;
}
.contTitle>span{
	padding-bottom: 0.15rem;
}

/*content*/
.content{
	width: 90%;
}

/*about me content*/

.aboutMeCont>div{
	width: 50%;
}
.aboutMeCont .left{
	margin-top: 0;
	width: 100%;
	border-bottom: 1px solid #ddd;
    padding: 0 0.25rem 0.5rem;
}
.aboutMeCont .left p{
	text-indent: 0.35rem;
	font-size: 14px;
	padding: 0.1rem 0;
	line-height: 0.6rem;
}
/*progress*/
.progress{
	margin-top: 0.25rem;
}
.progressHead>span{
	font-size: 0.35rem;
}
.progressGroove{
	height: 0.25rem;
	border-radius: 0.25rem;
	margin-top: 0.05rem;
}
.progressBar{
	height: 0.25rem;
	border-top-left-radius:0.25rem;
	border-bottom-left-radius:0.25rem;
}

.myExperienceInner{
	flex-direction: column;
	border: none;
	border-left: 0.05rem solid #d7d8d8;
}
.myExperienceInner .bottomLine{
	width: 0.05rem;
	height: 100%;
	top: 0;
	left: 0.25rem;
}
.experienceCont{
	width: 100%;
	max-width: 100%;
}
.experienceCont>div{
	margin: .3rem 0 .3rem .5rem;
	border: 2px solid #ddd;
}
.experienceCont>span{
	width: 0.25rem;
	height: 0.35rem;
	left: 0.2rem;
	top: 50%;
	margin-top: -0.175rem;
}
.experienceCont>div h3{
	font-size: 0.45rem;
}
.experienceCont>div h4{
	font-size: 0.4rem;
}
.experienceCont>div p{
	text-indent: 0;
	font-size: 0.35rem;
}

/* project */
.swiper-slide h4{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0.1rem;
}

.swiper-slide p{
	font-size: 12px;
	margin-bottom: 0.025rem;
}

.pcSlide .pcCont{
	width: 100%;
	padding: 0.25rem;
	overflow: auto;
}
.mobileCont{
	padding: 0.25rem;
}


.swiper-slide{
	height: 5rem;
	max-height: 5rem;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
	width: 4px;
	height: 4px;
}

.contactContent{
	width: 100%;
	margin-bottom: 0.5rem;
}
.contactMe>div{
	padding: 0 .5rem;
}